rancher2.witsawa.com {
  proxy / rancher:8080 {
    websocket
    transparent
  }
  tls nattaphat.la@gmail.com {
    ca https://acme-v02.api.letsencrypt.org/directory
  }
  #tls off
  log /var/log/rancher.log
}